<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqKjnkeF1l3b8PjErTaNoO_s1-ZmxN8b8</string>
	<key>GCM_SENDER_ID</key>
	<string>566852046724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.math.cubosVideo</string>
	<key>PROJECT_ID</key>
	<string>cubos-video</string>
	<key>STORAGE_BUCKET</key>
	<string>cubos-video.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566852046724:ios:7570b0b1542c468fd957d1</string>
</dict>
</plist>